@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Raleway:wght@100&family=Yellowtail&display=swap');
.titles{
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
  align-items: center;
}
.title-1{
  font-family: 'Yellowtail', cursive;
  font-size: 6rem;
}
.title-2{
  font-family: 'Limelight', cursive;
  font-size: 3rem;
}
.title-3{
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}
@keyframes brillabrilla {  
  0% { opacity: 0.9;}
  50% { opacity:1; color:#BC92C0;}
  100% { opacity:0.9; }
}
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }
  
  .copyright {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: 20%;
  }
  hr {
    border:none;
    height: 20px;
       width: 90%;
      height: 80px;
      margin-top: 0;
      border-bottom: 4px solid #fff;
      box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }
  .curriculum{
      width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  /* .portada{
    position: relative;
    width:100%;
    height: 600px;
    top:0px;
    z-index: -1;
  } */
  .img-portada {
      position: relative;
      max-width: 100%;
      max-height: 600px;
      z-index: -1;
      display: flex;
      align-items:center;
      justify-content:center;
      overflow: hidden;
      background-size:cover; 
    /* margin-top: -50px; */
      }
    .img-fluid-portada {
      max-width: 170%;
      height: 600px;
    }
  .separador{
    position: relative;
    height: 5px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    /* border-radius: 5px 2px 5px 2px; */
    background: linear-gradient(135deg,#3454F5 0%,#9658fe 100%);
  }
  
  /*-------------------------------------------------------*/
  /*------------   DARK MODE ------------------------------*/
  /*-------------------------------------------------------*/
  .dark_mode{
    background-color: rgba(48, 49, 52, 0.4);
    width: 100%;
    height: 600px;
    position: absolute;
    animation-name: example;
    animation-duration: 5s;
    z-index: -1;
  } 
  @keyframes example {
    from {background-color: rgba(255, 255, 255, 0.1);}
    to {background-color: rgba(49, 49, 52, 0.4);}
  }
  .light_mode{
    background-color: rgba(255,255,255, 0.1);
    width: 100%;
    height: 90%;
    position: absolute;
    animation-name: example2;
    animation-duration: 5s;
  } 
  @keyframes example2 {
    from {background-color: rgba(0, 0, 0, 0.4);}
    to {background-color: rgba(255, 255, 255, 0.1);}
  }
  body {
    background-color: white;
    color: #000;
    transition: .3s ease all;
    font-size: 20px;
    overflow-x:hidden; 
  }
  body.dark {
    background-color: #303134;
    color:#fff;
    transition-duration: 0.5s;
  }

  body.dark .titles{
    color:rgba(255, 255, 255, 0.8);
  }
  
  .switch {
    background-color: black;
    color: #f0f0f0;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
  }
  
  .switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color:white;/*color de la bolita de nuestro switch*/
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .switch.active {/*color del switch mode black*/
    background-color:white;
    color:black;
  }
  
  .switch.active::after {
    right: 0;
    left: unset;
  }
  
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
  }
  /* FIN DE MODO NOCTURNO */
  
  .red{
    color: white;
    font-size: 40px;
  }
  .red:hover{
    color: #1a252f;
  }
  .img-container {
      position: relative;
      height: 410px;
      max-width: 100%;
      display: flex;
      align-items:flex-start;
      justify-content:flex-start;
      overflow: hidden;
    margin-top: -50px;
      }
  .img-container img {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      object-fit: scale-down;
      }
    /*-------------------------------------------------*/
    /* Animación de botones hover en section portafolio */
    /*-------------------------------------------------*/
  .btn-port {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:#7E7ADC;
    border: 1px solid #fff;
    border-radius: 0.2em;
    cursor: pointer;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 400;
    line-height: 1;
    padding: 0.4em 1.8em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align:center;
  }
  .btn-port a{
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .third {
    text-align: center;
    color: #fff;
    box-shadow: 0 0 40px 40px #6656FA inset, 0 0 0 0 #6656FA;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #c237db inset, 0 0 10px 4px #c237db;
  }
  
/*-----------------------------------------*/
            /*Fin de animación*/
/*-----------------------------------------*/

    /*ANIMACIÓN DE REDES SOCIALES*/
    /* .social{
      position: relative;
      display: flex;
      gap:10px;
      justify-content:center;
      padding-left:0px;
        padding-bottom: 20px;
    }
    .social li{
      position: relative;
      list-style: none;
      width: 50px;
      height:50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.5s;
  
    }
    .social li:hover{
      z-index: 100;
      transform: scale(0.8);
      background-color: var(--clr);
       border-radius: 20px;
    }
    .social li::before{
      content: '';
      position: absolute;
      inset: 30px;
      transition: 0.5s;
    }
    .social li:hover::before{
      inset: 0px
    }
    .social li::after{
      content: '';
      position: absolute;
      inset:0;
      transform: rotate(45deg);
    }
    .social li a{
        width: 90px;
        height: 90px;
      position: relative;
      text-decoration: none;
        z-index: 10;
      font-size:45px;
      transition: 0.5s;
    }
  
    .social li:hover a{
      font-size: 3em;
      filter: drop-shadow(0 0 30px var(--clr))
      drop-shadow(0 0 50px var(--clr))
      drop-shadow(0 0 70px var(--clr));
    } */
    .social-2{
      position: relative;
      display: flex;
      justify-content:center;
      padding-top: 5px;
    }
    .social-2 li{
      position: relative;
      list-style: none;
      margin:0 10px;
      cursor:auto;
    }
    .social-2 li a{
      text-decoration: none;
    }
    .social-2 li a .fa-brands{
      font-size:40px;
      color:#fff;
    }
    .social-2 li::before{
      font-family: fontAwesome;
      position: absolute;
      top:-10px;
      left: 0;
      font-size:40px;
      height:0;
      overflow: hidden;
      transition: 0.5s ease-in-out;
    }
    .social-2 li:nth-child(1)::before{
      content: '\f2c6';
      color:var(--clr);
      /* border-bottom: 4px solid var(--clr); */
    }
    .social-2 li:nth-child(2)::before{
      content: '\f232';
      color:var(--clr);
      /* border-bottom: 4px solid var(--clr); */
    }  
    .social-2 li:nth-child(3)::before{
      content: '\f17e';
      color:var(--clr);
      /* border-bottom: 4px solid var(--clr); */
    }
    .social-2 li:nth-child(4)::before{
      content: '\f167';
      color: var(--clr);
      /* border-bottom: 4px solid var(--clr); */
    }
    .social-2 li:hover::before{
      height: 130%;
    }

  .ref{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content:center;
      margin-left: 20px;
  }
  .referencias{
      position:relative;
      width: 85%;
      height: 85px;
      background:var(--clref);
      border-radius: 2px; 
      transition: 0.5s ease-in-out;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px;
    }
  
  .referencias.active{
      height: 140px;
  }
  .toggle{
      position:absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 70px; 
      height: 60px;
      background: var(--clref);
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px; 
  }
  .toggle::before{
  content: '';
      position: absolute;
      left: -34px;
      width: 35px;
      height: 35px;
      background:transparent;
      border-top-right-radius: 35px;
      box-shadow: 11px -10px 0 10px var(--clref);
  }
  .toggle::after{
      content: '';
      position: absolute;
      right: -34px;
      width: 35px;
      height: 35px;
      background:transparent;
      border-top-left-radius: 35px;
      box-shadow: -11px -10px 0 10px var(--clref); 
  }
  .toggle span{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-70%) rotate(405deg);
      width:10px;
      height: 10px;
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff; 
      transition: 0.5s ease-in-out;
  }
  .referencias.active .toggle span{
  transform: translate(-50%,-70%) rotate(225deg);
  }
  .content-ref{
      position: absolute;
      inset:0; 
      overflow: hidden;
  }
  .content-ref .content{
      position: relative;
      padding: 20px;
      text-align: center;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .content-ref .content p{
      font-weight: 500;
      font-size: 1.16em;
      letter-spacing: 0.05em;
      line-height: 1.1em;
  }
  
  .content-ref .content p span{
      font-size: 0.65em;
      font-weight: 400;
      text-transform: initial;
  }
  .red_box{
      color: #fff;
      margin-top:-25px;
      font-size: 1.3em;
      display: flex;
      gap:10px;
      justify-content: center;
  }
   .end-info{
      position: relative;
      font-size: 0.8em;
      display: flex;
      gap:30px;
       margin-left: 20px;
       margin-right: 20px;
       list-style: none;
      justify-content:center;
      padding-left:0px;
   }
  .section-color{
    background-color: var(--clr-section);
    color: #000;
   }
  
  .wave-cont {
    position: relative;
    height: 70px;
    width: 100%;
    background:var(--clr-section);
    bottom: 0;
  }
  
  .wave-cont::before, .wave-cont::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave-cont::before {
    width: 55%;
    height: 109%;
    transition-duration: 0.3s;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  .dark .section-color{
    background-color: #1c1c1c;
    color: rgba(255,255,255,0.8);
   }
  .dark .wave-cont {
    background-color: #1c1c1c;
  }

  .dark .wave-cont::before {
    width: 55%;
    height: 109%;
    background-color:  rgba(48, 49, 52);
    transition-duration: 0.5s;
    right: -1.5%;
    top: 60%;
  }
  .dark .wave-cont::after {
    width: 55%;
    height: 100%;
    background-color:#1c1c1c;
    transition-duration: 0.5s;
    left: -1.5%;
    top: 40%;
  }
  .wave-cont::after {
    width: 55%;
    height: 100%;
    background-color:var(--clr-section);
    transition-duration: 0.5s;
    left: -1.5%;
    top: 40%;
  }
  .dark .btn-outline-dark {
    color: #D2D9E2;
    border-color: #D2D9E2;
    transition-duration: 0.5s;
  }
